{% extends 'base.html' %}
{% load static %}
{% block title %}☕Blog☕{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

{% endblock head %}

{% block body %}
<!-- Welcome To ☕Blog Page☕ -->
<!-- Write your Code here -->
<div class="bg">
    <h1 style="color:#F7F7F7;">OUR <span style="color: aqua;">BLOGS</span></h1>

    <div class="contain">
        <div class="rows">
            <div class="cart">
                <img class="photo" src="{% static 'img/blog1.jpg' %}" alt="">
                <div class="desc">
                    <h4>Tasty And Refreshing Coffee</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat...</p>
                    </div>
                    <div class="ivc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat maiores, inventore commodi amet ducimus optio est,
                            iusto error culpa, quae provident. Ducimus, quasi facere!</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog2.jpg' %}" alt="">
                <div class="desc">
                    <h4>Tasty And Refreshing Coffee</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat...</p>
                    </div>
                    <div class="ivc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat maiores, inventore commodi amet ducimus optio est,
                            iusto error culpa, quae provident. Ducimus, quasi facere!</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog3.jpg' %}" alt="">
                <div class="desc">
                    <h4>Tasty And Refreshing Coffee</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat...</p>
                    </div>
                    <div class="ivc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat maiores, inventore commodi amet ducimus optio est,
                            iusto error culpa, quae provident. Ducimus, quasi facere!</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog4.jpg' %}" alt="">
                <div class="desc">
                    <h4>Tasty And Refreshing Coffee</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat...</p>
                    </div>
                    <div class="ivc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat maiores, inventore commodi amet ducimus optio est,
                            iusto error culpa, quae provident. Ducimus, quasi facere!</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog5.jpg' %}" alt="">
                <div class="desc">
                    <h4>Tasty And Refreshing Coffee</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat...</p>
                    </div>
                    <div class="ivc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat maiores, inventore commodi amet ducimus optio est,
                            iusto error culpa, quae provident. Ducimus, quasi facere!</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog6.jpg' %}" alt="">
                <div class="desc">
                    <h4>Tasty And Refreshing Coffee</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat...</p>
                    </div>
                    <div class="ivc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat maiores, inventore commodi amet ducimus optio est,
                            iusto error culpa, quae provident. Ducimus, quasi facere!</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog7.jpg' %}" alt="">
                <div class="desc">
                    <h4>Tasty And Refreshing Coffee</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat...</p>
                    </div>
                    <div class="ivc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat maiores, inventore commodi amet ducimus optio est,
                            iusto error culpa, quae provident. Ducimus, quasi facere!</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog8.jpg' %}" alt="">
                <div class="desc">
                    <h4>Tasty And Refreshing Coffee</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat...</p>
                    </div>
                    <div class="ivc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat maiores, inventore commodi amet ducimus optio est,
                            iusto error culpa, quae provident. Ducimus, quasi facere!</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>
            <div class="cart">
                <img class="photo" src="{% static 'img/blog9.jpg' %}" alt="">
                <div class="desc">
                    <h4>Tasty And Refreshing Coffee</h4>
                    <h5>By Admin/ 1st May,2023</h5>
                    <div class="vc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat...</p>
                    </div>
                    <div class="ivc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis odio
                            neque nobis aliquam placeat maiores, inventore commodi amet ducimus optio est,
                            iusto error culpa, quae provident. Ducimus, quasi facere!</p>
                    </div>
                    <button id="btn" class="btn btn-info">Read More</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".ivc").hide();
        $(document).on('click', "#btn", function () {
            var moreLessButton = $(".ivc").is(":visible") ? 'Read More' : 'Read Less';
            $(this).text(moreLessButton);
            $(this).parent(".desc").find(".ivc").toggle();
            $(this).parent(".desc").find(".vc").toggle();
        });
    });
</script>







{% endblock body %}