{% extends 'base.html' %}
{% load static %}
{% block title %}☕Review☕{% endblock title %}
{% block head %} 
<link rel="stylesheet" href="{% static 'css/review.css' %}">

{% endblock head %}

{% block body %}
<div class="bd">
<!-- Welcome To ☕Review Page☕ -->
<!-- Write your Code here -->
    <h1 style="color:crimson;" >CUSTOMER'S <span style="color: aqua;" >REVIEW</span></h1>
    <div class="review">
        <h1>Review</h1>

        <p  style="color: aqua">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate eaque accusamus
        perspiciatis nesciunt sapiente, possimus voluptas. Laborum vero cumque praesentium,
        facilis animi, earum ea vitae asperiores laboriosam obcaecati reiciendis maiores.</p>
        
        <img class="user" src="{% static  'img/home.jpg' %}" alt=""/>
            <br>
            <br>
        <h3 class="name" >Aman Sharma</h3>
    

    </div>

    <div class="review">
        <h1>Review</h1>

        <p  style="color: aqua">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate eaque accusamus
        perspiciatis nesciunt sapiente, possimus voluptas. Laborum vero cumque praesentium,
        facilis animi, earum ea vitae asperiores laboriosam obcaecati reiciendis maiores.</p>
        
        <img class="user" src="{% static  'img/home.jpg' %}" alt=""/>
            <br>
            <br>
        <h3 class="name" >Aman Sharma</h3>
    

    </div>

    <div class="review">
        <h1>Review</h1>

        <p  style="color: aqua">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate eaque accusamus
        perspiciatis nesciunt sapiente, possimus voluptas. Laborum vero cumque praesentium,
        facilis animi, earum ea vitae asperiores laboriosam obcaecati reiciendis maiores.</p>
        
        <img class="user" src="{% static  'img/home.jpg' %}" alt=""/>
            <br>
            <br>
        <h3 class="name" >Aman Sharma</h3>
    

    </div>

    <div class="review">
        <h1>Review</h1>

        <p  style="color: aqua">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate eaque accusamus
        perspiciatis nesciunt sapiente, possimus voluptas. Laborum vero cumque praesentium,
        facilis animi, earum ea vitae asperiores laboriosam obcaecati reiciendis maiores.</p>
        
        <img class="user" src="{% static  'img/home.jpg' %}" alt=""/>
            <br>
            <br>
        <h3 class="name" >Aman Sharma</h3>
    

    </div>

    <div class="review">
        <h1>Review</h1>

        <p  style="color: aqua">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate eaque accusamus
        perspiciatis nesciunt sapiente, possimus voluptas. Laborum vero cumque praesentium,
        facilis animi, earum ea vitae asperiores laboriosam obcaecati reiciendis maiores.</p>
        
        <img class="user" src="{% static  'img/home.jpg' %}" alt=""/>
            <br>
            <br>
        <h3 class="name" >Aman Sharma</h3>
    

    </div>


</div>
{% endblock body %}
